// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$watchlist-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);

$watchlist-shadow-hover: 0 0 11px 4px rgba(0, 0, 0, 0.3);


$watchlist-radius: 10px;

$white-button-hover: background-color 0.3s, color 0.3s, box-shadow 0.3s;

$hover-green: rgb(0, 98, 255);
$hover-delete: rgb(116, 0, 0);
$hover-glow: 0 0 20px 20px rgba(0, 85, 255, 0.6);

$box-green: rgba(122, 172, 253, 0.683)
