// Specific CSS for your home-page

.content-box {
  background-color: $box-green;
  border-radius: $watchlist-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  box-shadow: $watchlist-shadow;
  margin-top: 25vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 70px;
  height: 170px;
  margin-top: 20px;
}

.sub-heading {
  font-size: 20px;
  height: 50px;
}

.list-button-container {
  height: 100px;
}

.home-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  padding: 5vh 4vw 7vh;
}
