.movies-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  font-size: 40px;
}

.movies-div {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 85vh;
  padding: 3vh 5vw 0;
  row-gap: 2vh;
  column-gap: 2vw;
  background-color: transparent;
  overflow-y: scroll;
  mask:linear-gradient(transparent, #fff 2%);
}


.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 25px;
  padding: 20px 25px;
  width: 280px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: $watchlist-shadow
}

.movie-card:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: $watchlist-shadow-hover
}

.movie-card-poster {
  border-radius: 15px;
}

.title-div {
  width: 165px;
  margin-top: 10px;
}

.rating-div {
  position: absolute;
  bottom: 20px;
  right: 25px;
  font-size: 14px;
}

.movies-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
}

.form-row {
  display: flex;
  align-items: center;
}
