<div>Here be movies:</div>

  <div class="movies-div">
    <%@movies.each do |movie|%>
      <div class="movie-card">
        <div class="poster-div">
          <%= image_tag("http://image.tmdb.org/t/p/w200#{@movies[0].poster_url}", class: "movie-card-poster")%>
        </div>
        <div class="title-div">
          <%= @movies[0].title%>
        </div>
        <div class="rating-div">
          <%= @movies[0].rating%> / 10
        </div>
      </div>
    <% end %>
  </div>

<%# <% raise %>
