<div class="content-box">
  <div class="flex-container heading">
    WatchList
  </div>

  <div class="flex-container sub-heading">
    Create watch-lists for your favourite movies and genres!
  </div>

  <div class="flex-container list-button-container">
    <%= link_to "My lists", lists_path, class: "lists-button" %>
  </div>
</div>
