<div class="content-box">
  <div class="flex-container heading">
    Watch.list
  </div>

  <div class="flex-container sub-heading">
    Create watch-lists for your favourite movies and genres!
  </div>

  <div class="home-buttons">
      <%= link_to "My lists", lists_path, class: "lists-button" %>

      <%= link_to "View all movies", movies_path, class: "movies-button" %>
  </div>
</div>
