<div class="content-box">
  <div class="heading">
  WatchList
  </div>

  <div class="sub-heading">
  Create watch-lists for your favourite movies and genres!
  </div>

  <div class="list-button">
    <%= link_to "My lists", lists_path %>
  </div>
</div>
