.delete {
  width: 100px;
  border-radius: 0 10px 10px 0
}

.add {
  width: 150px;
}

.name {
  border-radius: 10px 0 0 10px;
}

.lists-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(230, 230, 230);
  border-radius: $watchlist-radius;
  box-shadow: $watchlist-shadow;
  height: 50px;
  width: 150px;
  transition: $white-button-hover;
}


.lists-button:hover {
  background-color: $hover-green;
  color: white;
  transition: $white-button-hover
}


.home-button {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: $watchlist-radius;
  box-shadow: $watchlist-shadow;
  background-color: white;
  color: black;
  transition: $white-button-hover;
  height: 150px;
  width: 500px;
}

.home-button:hover {
  background-color: $hover-green;
  color: white;
  transition: $white-button-hover
}
