// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkslategray;
  min-height: 100vh;
  width: 100vw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 100px;
  padding: 50px;
  flex-direction: column;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 10px
}

.list-item {
  background-color: rgb(243, 243, 243);
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.sub-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
}

.delete {
  width: 100px;
  border-radius: 10px;
}

.add {
  width: 150px;
  border-radius: 10px;
}

.name {
  border-radius: 10px 0 0 10px;
}

.add {
  border-radius: 0
}

.delete {
  border-radius: 0 10px 10px 0
}

.sub-item:hover {
  background-color: rgb(234, 234, 234);
}
