// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 100px;
  padding: 50px;
  flex-direction: column;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
}
